525/Aufbau-gedreht.pdf
525/Aufbau.pdf
525/Template-blx.bib
525/Template.aux
525/Template.bbl
525/Template.blg
525/Template.fdb_latexmk
525/Template.fls
525/Template.log
525/Template.out
525/Template.pdf
525/Template.run.xml
